@tailwind base;
@tailwind components;
@tailwind utilities;
/* React-Calendar Overrides */
.react-calendar {
  font-family: "Arial", sans-serif;
}
.react-calendar__tile {
  @apply p-2 text-sm text-gray-700 hover:bg-blue-100 rounded-md;
}
.react-calendar__tile--active {
  @apply bg-blue-500 text-white;
}
html {
  scroll-behavior: smooth;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
